@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4">Welcome to Contact Book</h1>
    <h2>Just go to Catalog and create your phone book members!</h2>
</div>
